body{
    background-color: beige;
    font-size: 20px;
    font-family: 'MonteCarlo', cursive;
}



#box img{
    height: 110px;
    width: 80px;
}

#aaa{
    list-style: none;
}

#aaa li{
    float: left;
}



.clicked{
    background-color: blue;
    opacity: 0.2; /** 画像の透明度 */
    display: block;
  }
  